.titleSection {
    border: 1px solid black;
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: center;
 }
 
 .titleSection-content-wrapper {
    width: 100%;
    flex: 1;
 }
 
 .titleSection-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
 }
 
 .titleSection-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
 }
 
 .titleSection-amount-description {
    margin: 0;
 }

 /* TransactionInfos */
 #transactionPage {
   color: white;
   padding: 150px 0 40px 0;
}

.dataHead {
   display: flex;
   justify-content: space-between;
   width: 90%;
   height: 25px;
   font-weight: bold;
   margin: 0 auto;
}

 .dataLine {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: white;
   width: 90%;
   height: 50px;
   color: black;
   border: 1px black solid;
   margin: 0 auto -10px auto;
}

.downArrow_no {
   display: none;
}

.upArrow {
   display: none;
}

.upArrow_yes {
   display: block;
}

#arrow {
   width: 5%;
}

#arrow:hover,
.pencil:hover {
   cursor: pointer;
}

#date {
   width: 25%;
}

#description {
   width: 30%;
}

#amount,
#balance {
   width: 20%;
}

.moreInfo {
   display: none;
   background: #12002b;
   width: 90%;
   max-height: 0px;
   overflow: hidden;
   color: black;
   text-align: left;
   padding: 5px 0;
   margin: 0 auto;

   transition: max-height 1s;
}

.moreInfo_open, 
.categoryEdit_open

{
   display: block;
   background: white;
   width: 80%;
   max-height: 200px;
   overflow: hidden;
   color: black;
   text-align: left;
   padding: 5px 0 5px 10%;
   margin: 0 auto;
   overflow-y:auto
}

/* .categorySelect_open{
   display: block;
} */


.categoryEdit, .noteEdit {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   width: 50%;
   
} 

.categoryEdit :nth-child(2),
.noteEdit :nth-child(2){
   margin-left: .8rem;
}

